 body {
    font-family: 'Poppins', sans-serif;
 }

 section {
    padding: 40px 10px;
 }
 
 .container {
    margin: 0 auto;
    width: 1024px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,span {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    padding: 0 10px;
}

.w25{
    width: 25%;
}

.w33 {
    width: 33.33%
}

a {
    text-decoration: none;
    color: #000;
}

.mr-3px {
    margin-right: 3px;
}

.card-content {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 60px 0 rgba(0,0,0, .2);
}

.card-button-wrapper {
    position: absolute;
    opacity: 0;
    display: flex;
    transition: all 0.5s ease;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
}

.btn {
    padding: 20px 30px;
    background-color: orange;
    color: #fff;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 2px;
}

.card-content img{
    opacity: 1;
}

.card-content:hover .card-button-wrapper {
    opacity: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.card-content:hover img{
    opacity: 0.6;
} 

.card-info {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-container {
    margin: 0 auto;
    background-color: #f9c345;
    padding: 50px
}

.card {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: top center;
    transition: background-position 1.2s ease-out ;
}

.card-title {
    padding: 10px;
    color: #f9c345;
    text-align: center;
}

.card1 .card-img{
    background-image: url(assets/reiro-image.png);
}

.card2 .card-img{
    background-image: url(assets/reiro-dark.png);
}

.card3 .card-img{
    background-image: url(assets/reiro-sepia.png);
}

.card:hover .card-img {
    background-position: bottom center;
}

/* Transform-scale */

.collection-card {
    
}

.collection-card img {
    transition: transform 0.5s ease;
}

.category-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    color: #000;
    display: inline-flex;
    align-items: center;
    padding: 15px 25px;
    width: calc(100% - 40px);   
    justify-content: space-between;
    overflow: hidden;
    transition: background-color 0.4s ease, color 0.6s ease;
}

.category-btn-left {
    width: calc(100% - 50px);
}

.category-btn-right {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.category-name {
    
}

.category-qty {
    font-size: 0.75rem;
    position: absolute;
    transition: opacity 0.4s ease;
}

.category-icon {
    width: 20px;
    position: absolute;
    right: -120%;
    opacity: 0;
    transition: right 0.5s ease , opacity 0.5s ease;
}

/* Hover effects  */

/* image zoom effect */
.collection-card:hover img{
    transform: scale(1.3);
}

/* changing button font */
.collection-card:hover .category-btn {
    background-color: #000;
    color: #fff;
}

/* changing button content */
.collection-card:hover .category-qty {
    opacity: 0;
}

.collection-card:hover .category-icon {
    display: inline-flex;
    opacity: 1;
    right: 0;
}

/* New arrival section */

.new-arrival-card {

}

.new-arrival-product-image {
    position: relative;
}

.new-arrival-btn-wrapper {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.4s ease;
}

.new-arrival-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 34px;
    margin: 4px;
    overflow: hidden;
    transition: color 0.1s ease , background-color 0.5s ease;
}

/* Shopping button common properties */
.shopping-btn {
    right: 10%;
    transition: right 0.5s ease;
}

.shopping-icon {
    width: 20px;
    height: auto;
}

/* view button common properties */
.view-btn {
    left: 10%;
    transition: left 0.5s ease;
}

/* add to icons common property */
.add-to-icon-wrapper {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    top: 5%;
    right: 10px;
    transition: all 0.4s ease;
}

.add-to-icon {
    border-radius: 100%;
    background-color: #fff;
    color: #000;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px -3px #000;
    transition: all 0.4s ease;
}

/* compare icon */
.compare-wrapper {
    position: relative;
    right: -10px;
    transition: right 0.4s ease;
}

.add-to-text {
    padding: 4px;
    display: inline-flex;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* add to icon hover effects */
.new-arrival-card:hover .add-to-icon-wrapper {
    opacity: 1;
    right: 8%;
}

.new-arrival-card:hover .compare-wrapper {
    right: 0;
}

.add-to-btn:hover .add-to-text {
    opacity: 1;
}
/* Button version1 */
.new-arrival-btn-v1 {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    transition: all 0.5s ease;
}

/* Button version2 */
.new-arrival-btn-v2 {
    display: inline-flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    bottom: -50%;
    transition: all 0.5s ease;
}

.new-arrival-btn-text {
    /* margin-left: 22px; */
}

/* card-hover effects */
.new-arrival-card:hover .new-arrival-product-image {
    filter: blur(3px);
}

.new-arrival-card:hover .new-arrival-btn-wrapper {
    opacity: 1;
}

.new-arrival-card:hover .shopping-btn {
    right: 0;
}

.new-arrival-card:hover .view-btn {
    left: 0;
}



/* button hover effects */
.new-arrival-btn:hover .new-arrival-btn-v1 {
    top: -100%;
}


.new-arrival-btn:hover{
    background-color: #000;
    color: #fff;
}

.new-arrival-btn:hover .new-arrival-btn-v2{
    opacity: 1;
    bottom: 50%;
    transform: translate(0,50%);
}
